.titulo-principal {
    text-transform: uppercase;
    margin: 50px;
    text-align: center; 
}
ul {
    position: relative;
    display: inline-block;
    width: 20%;
}

.texto {
    text-align: left, justify;
}